In [3]:
import pandas as pd

Bee_Colony_Loss_2010_2017_df = pd.read_csv("Bee_Colony_Loss_2010_2017.csv")

In [4]:
Bee_Colony_Loss_2010_2017_df.sample(5)

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
70,2015/16,Annual,Indiana,39.50%,152,98.70%,1707,98.50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2012/13,Annual,West Virginia,55.80%,60,93.30%,2736,19.10%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,2014/15,Annual,Alabama,48.00%,28,96.40%,504,98.50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016/17,Annual,North Dakota,37.80%,17,11.80%,163861,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2010/11,Annual,Florida,57.70%,57,91.20%,13624,7.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN