In [4]:
# import dependencies
from path import Path
import pandas as pd

In [5]:
# Loss Key:
# =-  Represents zero.
# (X)  Not applicable.
# (Z)  Less than half of the unit shown.
# 1/ January 1 colonies plus all colonies moved into that state during the quarter.
# 2/ Percent lost is the number of lost colonies divided by maximum colonies except for the United States, where percent lost is the number of lost colonies divided by the January 1 colonies.
# 3/ Defined as any surviving colony that was requeened or received new honey bees through nuc or package.
# 4/ Percent renovated is the number of renovated colonies divided by maximum colonies except for the United States, where percent renovated is the number of renovated colonies divided by the January 1 colonies.
# 5/ Includes data for States not published in this table.

# Stressor Key:
# =-  Represents zero.
# (Z)  Less than half of the unit shown.
# 1/ Tracheal mites, nosema, hive beetle, wax moths, etc.
# 2/ Includes American and European foulbrood, chalkbrood, stonebrood, paralysis (acute and chronic), kashmir, deformed wing, sacbrood, IAPV, Lake Sinai II, etc.
# 3/ Includes weather, starvation, insufficient forage, queen failure, hive damage/destroyed, etc.
# 4/ Includes data for States not published in this table.

In [6]:
# Load and use Cleaned dataset
data = Path('Resources/Merged_2015_2020.csv')
df = pd.read_csv(data)
df.head()

,State,colonies,Maximum_colonies1,Lost_colonies,Percent_lost2,Added_colonies,Renov_colonies3,Percent_renov4,Year,Qtr,Varroa_mites,Other_parasites,Diseases,Pestticides,Other3,Unknown
0,AL,7000,7000,1800,26,2800,250,4,2015,Q1,10.0,5.4,0.0,2.2,9.1,9.4
1,AZ,35000,35000,4600,13,3400,2100,6,2015,Q1,26.9,20.5,0.1,0.0,1.8,3.1
2,AR,13000,14000,1500,11,1200,90,1,2015,Q1,17.6,11.4,1.5,3.4,1.0,1.0
3,CA,1440000,1690000,255000,15,250000,124000,7,2015,Q1,24.7,7.2,3.0,7.5,6.5,2.8
4,CO,3500,12500,1500,12,200,140,1,2015,Q1,14.6,0.9,1.8,0.6,2.6,5.9

In [23]:
df['YQ']= df[['Year', 'Qtr']].apply(lambda x: '-'.join(x.values.astype(str)), axis='columns')

In [8]:
df.head()

,State,colonies,Maximum_colonies1,Lost_colonies,Percent_lost2,Added_colonies,Renov_colonies3,Percent_renov4,Year,Qtr,Varroa_mites,Other_parasites,Diseases,Pestticides,Other3,Unknown,YQ
0,AL,7000,7000,1800,26,2800,250,4,2015,Q1,10.0,5.4,0.0,2.2,9.1,9.4,2015-Q1
1,AZ,35000,35000,4600,13,3400,2100,6,2015,Q1,26.9,20.5,0.1,0.0,1.8,3.1,2015-Q1
2,AR,13000,14000,1500,11,1200,90,1,2015,Q1,17.6,11.4,1.5,3.4,1.0,1.0,2015-Q1
3,CA,1440000,1690000,255000,15,250000,124000,7,2015,Q1,24.7,7.2,3.0,7.5,6.5,2.8,2015-Q1
4,CO,3500,12500,1500,12,200,140,1,2015,Q1,14.6,0.9,1.8,0.6,2.6,5.9,2015-Q1

In [9]:
df['YQ_codes']=df.YQ.astype('category').cat.codes

In [10]:
df.head()

,State,colonies,Maximum_colonies1,Lost_colonies,Percent_lost2,Added_colonies,Renov_colonies3,Percent_renov4,Year,Qtr,Varroa_mites,Other_parasites,Diseases,Pestticides,Other3,Unknown,YQ,YQ_codes
0,AL,7000,7000,1800,26,2800,250,4,2015,Q1,10.0,5.4,0.0,2.2,9.1,9.4,2015-Q1,0
1,AZ,35000,35000,4600,13,3400,2100,6,2015,Q1,26.9,20.5,0.1,0.0,1.8,3.1,2015-Q1,0
2,AR,13000,14000,1500,11,1200,90,1,2015,Q1,17.6,11.4,1.5,3.4,1.0,1.0,2015-Q1,0
3,CA,1440000,1690000,255000,15,250000,124000,7,2015,Q1,24.7,7.2,3.0,7.5,6.5,2.8,2015-Q1,0
4,CO,3500,12500,1500,12,200,140,1,2015,Q1,14.6,0.9,1.8,0.6,2.6,5.9,2015-Q1,0

In [17]:
# Create the Y(dependent) variable and X predict (independent) variables 
y = df["YQ_codes"]
X = df.drop(columns ="YQ_codes")

In [18]:
# Split data variables into train and test sets.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split (X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)
X_train.shape

(759, 17)

In [20]:
# Initialize and train set
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                               max_iter=200,
                               random_state=1)

In [24]:
# Test with the predict method
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'MD'

In [ ]:
# Returned predictions
y_pred = classifier.predict(X_test)
results = pd.DataFram({'Prediction': y_pred, 'Actual': y_test}).reset_index(drop=True)
results.head(20)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy _score (y_test, y_pred))